<div *ngIf="juego">

    <h2>{{juego.nombre | uppercase}}</h2>
    <div>
      <input id="juego-nombre" [(ngModel)]="juego.nombre" placeholder="nombre">
    </div>
    <div>
      <input id="juego-descripcion" [(ngModel)]="juego.descripcion" placeholder="descripcion">
    </div>
    <div>
      <input id="juego-desarrolador" [(ngModel)]="juego.desarrolador" placeholder="desarrolador">
    </div>
    <div>
      <input id="juego-precio" [(ngModel)]="juego.precio" placeholder="precio">
    </div>
    <div>
      <input id="juego-descuento" [(ngModel)]="juego.descuento" placeholder="descuento">
    </div>
    <div>
      <input id="juego-genero" [(ngModel)]="juego.genero!.nombre" placeholder="genero">
    </div>
    <div>
      <input id="juego-plataformas" [(ngModel)]="juego.plataformas![0].icon" placeholder="icon">
    </div>
    <button type="button" (click)="save()">Guardar</button>
    <button type="button" (click)="regresar()">Regresar</button>
  </div>