
<ul class="juegos-list">
    <li *ngFor="let juego of juegos">
        <a routerLink="/juego/{{juego.id}}">
            <span class="badge">{{juego.id}}</span> {{juego.nombre}}
        </a>
        <span style="float: right;" (click)="delete(juego)">Eliminar</span>
        <div><span>Descripci&oacute;n: </span>{{juego.descripcion}}</div>
        <div><span>G&eacute;nero: </span>{{juego.genero?.nombre}}</div>
        <div><span>Precio: </span>{{juego.precio}}</div>
        <div><span>Desarrolador: </span>{{juego.desarrolador}}</div>
        <div><span>Fecha de lanzamiento: </span>{{juego.fechaLanzamiento}}</div>
        <div><img src="{{juego.plataformas![0].icon}}"></div>
    </li>
</ul>

<div>
    <label for="new">Nombre: </label>
    <input id="new" [(ngModel)]="newJuego.nombre" />
</div>
<div>
    <label for="developer">Desarrollador: </label>
    <input id="developer" [(ngModel)]="newJuego.desarrolador"/>
</div>
<div>
    <label for="description">Descripcion: </label>
    <input id="description" [(ngModel)]="newJuego.descripcion"/>
</div>
<div>
    <label for="price">Precio: </label>
    <input type="number" id="price" [(ngModel)]="newJuego.precio"/>
</div>
<div>
    <label for="discount">Descuento: </label>
    <input type="number" id="discount" [(ngModel)]="newJuego.descuento" />
</div>
<div>
    <label for="date">Fecha de Lanzamiento: </label>
    <input id="date" [(ngModel)]="fechaLanzamiento" />
</div>
<div>
    <label for="genre">Genero: </label>
    <input id="genre" [(ngModel)]="newJuego.genero!.nombre" />
</div>
<div>
    <label for="platforms">Plataformas: </label>
    <select multiple id="platforms" [(ngModel)] ="newJuego.plataformas" >
        <option *ngFor="let p of plataformas" [value]="p">{{p.nombre}}</option>

    </select>
</div>
<div>
    <button type="button" class="add-button" (click)="add();">
      Agregar
    </button>
</div>