
<ul class="juegos-list">
    <li *ngFor="let juego of juegos">
        <a routerLink="/juego/{{juego.id}}">
            <span class="badge">{{juego.id}}</span> {{juego.nombre}}
        </a>
        <div><span>Descripci&oacute;n: </span>{{juego.descripcion}}</div>
        <div><span>G&eacute;nero: </span>{{juego.genero?.nombre}}</div>
        <div><span>Precio: </span>{{juego.precio}}</div>
        <div><span>Desarrolador: </span>{{juego.desarrolador}}</div>
        <div><span>Fecha de lanzamiento: </span>{{juego.fechaLanzamiento | date: 'shortDate'}}</div>
        <div><img src="{{juego.plataformas![0].icon}}"></div>
        <!-- <button [class.selected]="juego === seleccionado" type="button" (click)="onSelect(juego)"></button> -->
    </li>
</ul>

<div>
    <label for="new">Nombre: </label>
    <input id="new" #nombre />
    <button type="button" class="add-button" (click)="add(nombre.value); nombre.value=''">
      Agregar
    </button>
  </div>